{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    Acerca de mi.
{% endblock titulo %}
 

{% block contenido %}
<h3><br>Acerca de mi..</h3>
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-lg-8 text-justified">
        <p class="text-white-79 mb-5"> 
        Hola! mi nombre es Aldana Civitelli, tengo 30 años y trabajo como administrativa en un laboratorio hace diez años. Actualmente estoy en busca de nuevos desafios.<br>
        <br> Me gustaria comenzar esta sección citando un proverbio que tanto amo y confío que así es, éste dice: "el saber no ocupa espacio" y fiel a esta convicción siempre, siempre..me encuentro en el proceso de aprendizaje, descubriendo y redescubriendo nuevos temas. 
        <br> Retomando este punto "acerca de mi" les cuento que soy profesora de Nivel Inicial, realicé algunos cursos de actualización respecto al área educativa y en consideraciones, realizar el año que viene la Lic. en Educacion Inicial. Con respecto a este año, decidí adentrarme al mundo de la programación (si, un salto gigante de una área a otro o no!) realizando este curso de Python por Coderhouse y en paralelo las capacitaciones de "Ser Programar 4.0" brindanda por el gobierno (1er tramo: induccion a la programación-finalizado;2do tramo: Python orientado a IA, en curso).<br> 
        <br> En conclusión, se podría decir que en este último tiempo hallé una nueva perspectiva de mi camino en donde la enseñanza y la programación van de la mano. <br>
        <br> ¡Gracias por leerme! </p>
    </div>   
    <div class="col-lg-8 text-center"> 
        <p class="text-white-79 mb-5"> Aquí dejo mi red:    
        <a class="btn btn-primary btn-xl" href="https://www.linkedin.com/in/aldana-civitelli-88b6a6175">Linkedin</a></p>
    </div> 
</div>
{% endblock contenido %}

