{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    Agregar avatar
{% endblock titulo %}

{% block contenidologin %}
    
    <form class="form-signin row gx-4 gx-lg-5 justify-content-center" action="/agregaravatar/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-6 col-xl-6 text-center">
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Crear Avatar</button>
        </div>
    </form>
{% endblock contenidologin %}
