{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    Busqueda de paciente por documento
{% endblock titulo %}

{% block contenidoA %}
    
    <form class="form-signin row gx-4 gx-lg-5 justify-content-center" action="/buscarp" method="get">   
        {% csrf_token %}
        <div class="col-lg-6 col-xl-6 text-center">
            <p>Documento: <input type="integer" name="documento" id="documento"></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Consultar</button>
        </div>
    </form>    
{% endblock contenidoA %}
