{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    Busqueda de profesional
{% endblock titulo %}

{% block contenido %}
    <h2>Buscar médico:</h2>
    <form action="/buscar/" method="GET">
        <p>
            <h5>Nombre: <input type="text" name="nombre" id="nombre"></h3>    
        <p>
            <h5>Especializacion: <input type="text" name="especializacion" id="especializacion"></h3>
        <p>
        <input type="submit" value="Consultar">
    </form>    

{% endblock contenido %}