{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    Busqueda de profesionales por especialización
{% endblock titulo %}

{% block contenidoA %}
    
    <form class="form-signin row gx-4 gx-lg-5 justify-content-center" action="/buscar" method="get">   
        {% csrf_token %}
        <div class="col-lg-6 col-xl-6 text-center">
            <p>Especialización: <input type="text" name="especializacion" id="especializacion"></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Consultar</button>
        </div>
    </form>    
{% endblock contenidoA %}
