{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
Editar perfil 
{% endblock titulo %}

{% block contenidologin %}
    <br/>
    
    <form class="form-signin row gx-4 gx-lg-5 justify-content-center" action="/editarperfil/" method="post">
        {% csrf_token %}
        <div class="col-lg-6 col-xl-6 text-center">
            <table>
                {{ form.as_table }}
            </table>
            <br/>
            
            <input class="btn btn-primary" type="submit" value="Actualizar perfil" style="width: 40%;"> 
        </div>

        <div class="col-lg-4 col-xl-6 text-center">
            <h5 style="color: white;">Si desea puede actualizar su avatar</h5>
            <div class="text-center">
                <img src="{{ request.session.avatar }}" href ="{% url 'agregaravatar' %}" height="165px" weight="180px"/>
            </div>                   
            <a class="btn btn-primary" href="{% url 'agregaravatar' %}">Agregar</a>
        </div>
        
    </form>
    <br/>

{% endblock contenidologin %}
