{% extends 'laboratorio_app/base.html' %}
{% load static%}

{% block titulo%}
    Estudios
{% endblock titulo%}

{% block contenido %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="1200"><h1>Lista de precios de las prestaciones:</h1>
            <a 
            href= "{% url 'crearmarcador' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-sm" title="Nueva prestación"> </i>
            </a>
            <br />
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Prestación</th>
            <th>Valor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for p  in prestaciones %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.prestacion }}</td>
        <td>{{ p.valor }}</td>
        <td>
            <a @login_required
              href="{% url 'updatemarcador' p.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Editar prestación"></i>
            </a>
            <a @login_required
              href="{% url 'deletemarcador' p.id %}" 
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Eliminar prestación"></i>
            </a>
        </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>  

{% else %}
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Nuestros estudios</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Histopatológico</h3>
                    <p class="text-muted mb-0">Consiste en el análisis de la biopsia (muestras extraídas). La misma pasa por un proceso técnico hasta llegar al profesional quien arribará el diagnóstico anatomopatológico correspondiente.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Inmunohistoquímica</h3>
                    <p class="text-muted mb-0">Procesamiento histopatológico que se basa en la utilización de anticuerpos mono y/o policlonales de calidad internacional que mediante reacciones antígeno-anticuerpo el profesional puede observar si el tumor es benigno o maligno concluyendo con un diagnóstico útil para el tratamiento del paciente.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Citología</h3>
                    <p class="text-muted mb-0">Es el estudio de líquidos corporales en los que se examinan y analizan células. Algunos de ellos, puede ser: líquido pleural, ascítico, pericárdico</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Papanicolaou (PAP)</h3>
                    <p class="text-muted mb-0">Citología en el que se estudian las células del cuello uterino. Este tipo de estudio permite prevenir y/o diagnosticar enfermedades a tiempo como cancer de cuello uterino o lesiones causadas por el virus del HPV.</p>
                </div>
            </div>
       </div>
    </div>
</section>

{% endif %}

{% endblock contenido %} 

{% block Estudios %}
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box" >
                    <img class="img-fluid" src="../../static/laboratorio_app/assets/img/3.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Estudios</div>
                        <div class="project-name">Citología</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img class="img-fluid" src="../../static/laboratorio_app/assets/img/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Estudios</div>
                        <div class="project-name">Al servicio</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box" >
                    <img class="img-fluid" src="../../static/laboratorio_app/assets/img/5.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Estudios</div>
                        <div class="project-name">Inmunohistoquímica</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box" >
                    <img class="img-fluid" src="../../static/laboratorio_app/assets/img/2.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Estudios</div>
                        <div class="project-name">Diagnóstico</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box" >
                    <img class="img-fluid" src="../../static/laboratorio_app/assets/img/portfolio/fullsize/6.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Estudios</div>
                        <div class="project-name">LABPAI</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box" >
                    <img class="img-fluid" src="../../static/laboratorio_app/assets/img/portfolio/fullsize/1.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Estudios</div>
                        <div class="project-name">Anatomía Patógica</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock Estudios %}
