{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    <h3 style="color: white;">Por favor inicie sesión </h3>
{% endblock titulo %}

{% block contenidoA %}
    
    <form class="form-signin row gx-4 gx-lg-5 justify-content-center" action="/login/" method="post">
        {% csrf_token %}
        <div class="col-lg-6 col-xl-6 text-center">

            <br/>
            <img class="mb-4" src="../../../media/avatares/default.png" height="120px" weight="120px"/>
            <br/>
            
            <label for="username" class="sr-only">Usuario</label>
            <input type="username" id="username" name="username" placeholder="Usuario" required="True" autofocus="">

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="id_password" name="password" placeholder="Contraseña" required="True">

            <br/>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
            
        </div>
      </form>
    <br/>    

      
{% endblock contenidoA %}
