{% extends 'laboratorio_app/base.html' %}
{% load static%}

{% block titulo %}
    Registro de pacientes 
{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <td width="600"><h1>Listado de pacientes:</h1>
            
            <a
            href= "{% url 'crearpaciente' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-sm" title="Nuevo Registro"> </i>
            </a>
            <a
            href= "{% url 'buscarpaciente' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-search fa-sm" title="Buscar Registro"> </i>
            </a>                        
            <br />
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for p  in pacientes %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.documento }}</td>
        <td>{{ p.telefono }}</td>
        <td>
            <a
              href="{% url 'updatePaciente' p.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Editar Registro"></i>
            </a>
            <a
              href="{% url 'deletePaciente' p.id %}" 
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Eliminar Registro"></i>
            </a>
        </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>  
<h6> Cantidad de profesionales cargados:{{pacientes|length}}</h6>
{% endblock contenido %} 