{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulocarga %}
    Lista de precios de las prestaciones 
{% endblock titulocarga %}

{% block contenido %}
    <h2>Ingreso de las prestaciones médicas y sus costos</h2>
    <form action="/prestacionesform/" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>    
        <input class="btn btn-primary" type="submit" value="Cargar">        
    </form>     
{% endblock contenido %}     
