{% extends 'laboratorio_app/base.html' %}
{% load static%}

{% block tituloP %}
    Nuestro staff de médicos
{% endblock tituloP %}


{% block contenidoP %}
    <h1>Conocé a nuestro equipo:</h1>

    <table class="table table-dark table-borderless">
        <thead>
            <tr>
                <th>Médicos</th>
                <th>Matricula</th>   
                <th>Especialización</th>         
            </tr>    
        </thead>
        <tbody>    
    {% for c in staff_profesionales %}
                <tr>
                    <td>{{c.nombre}},{{c.apellido}} </td>
                    <td>{{c.matricula}}</td>
                    <td>{{c.id_especializacion}}</td>
                </tr>  
    {% endfor %}
    
{% endblock contenidoP %} 

