{% extends 'laboratorio_app/base.html' %}
{% load static %}

{% block titulo %}
    Registro de usuario
{% endblock titulo %}

{% block contenidoA %}
    <form class="form-signin row gx-4 gx-lg-5 justify-content-center" action="/registro/" method="post">
        {% csrf_token %}
        <div class="col-lg-6 col-xl-6 text-center">
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input class="btn btn-primary" type="submit" value="Registrarse" style="width: 40%;"> 
        </div>
    </form>
{% endblock contenidoA %}
